/* MAIN SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito+Sans:wght@400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* root light dark mode */
:root {
  --nav-a-color: #0d122b;
  --border-color: #ececec;
  --article-color: #434648;
  --small-color: #6b7886;
}

:root.dark {
  --nav-a-color: #ececec;
  --border-color: #1b1d25;
  --header-color: #ececec;
  --article-color: #babdc4;
  --small-color: #6b7886;
  --bg-color: #131418;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #0d122b;
  background-color: var(--bg-color);
}

::selection {
  background: #fdffae;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 10px;
  color: var(--header-color);
}

.select-disable {
  user-select: none;
}

.container {
  width: 850px;
  margin: 0 auto;
}

/* NAV SECTION*/

nav {
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 100px;
}

nav a svg {
  height: 30px;
  width: 30px;
  margin: 0px;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  padding: 0px 8px;
}

li:nth-child(2) {
  margin-right: 20px;
}

.ul-separatus {
  cursor: default;
  opacity: 0.8;
}

li.logo {
  margin-right: auto;
}

li.logo a svg {
  transition: 200ms color;
}

li.logo a svg:hover {
  color: #fd841f;
  opacity: 0.8;
}

li a {
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--nav-a-color);
  line-height: 1.8;
  letter-spacing: 1px;
  opacity: 0.8;
}

li a:hover {
  opacity: 1;
}

.ul-links {
  display: flex;
}

.ul-separatus {
  margin: 0 8px;
}

/* HEADER SECTION */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 110px;
  text-align: center;
}

.my-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.9;
  margin-bottom: 12px;
}

header p {
  font-size: 17px;
  max-width: 454px;
  opacity: 0.9;
  line-height: 1.7;
  color: var(--header-color);
}

/* MAIN SECTION */

main {
  width: 640px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 130px;
}

main h2 {
  margin-bottom: 18px;
  font-size: 20px;
  color: var(--header-color);
}

main article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--article-color);
}

article {
  opacity: 0.9;
}

article:hover {
  opacity: 1;
}

main a {
  color: var(--article-color);
  opacity: 0.9;
  text-decoration: none;
}

.all-posts {
  margin-top: 12px;
}

.all-posts a:hover {
  transition: 200ms color;
}

.all-posts a:hover {
  color: #fd841f;
  opacity: 1;
}

/* FOOTER SECTION */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-links {
  display: flex;
  gap: 12px;
}

.footer-links a svg {
  width: 24px;
  height: 24px;
  opacity: 0.8;
  fill: #888a90;
}

.footer-links a svg:hover {
  opacity: 1;
}

.copyright {
  font-size: 12px;
  opacity: 0.8;
  color: #6b7886;
  padding: 5px 0;
}
